version: "3.8"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: chat
      POSTGRES_USER: chatuser
      POSTGRES_PASSWORD: npg_w1gArQDbNJ4U
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chatuser -d chat"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    command: ["redis-server", "--save", "900", "1"]
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  api:
    build:
      context: .
      dockerfile: apps/api-server/Dockerfile
    environment:
      DATABASE_URL: postgresql://chatuser:npg_w1gArQDbNJ4U@postgres:5432/chat?schema=public
      REDIS_URL: redis://redis:6379
      JWT_SECRET: ${JWT_SECRET:-verysecret}
      PORT_API: 4000
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "4000:4000"
    restart: unless-stopped
    command: sh -c "cd apps/prisma && npx prisma db push --accept-data-loss && cd ../api-server && node dist/api-server/src/index.js"

  ws-server:
    build:
      context: .
      dockerfile: apps/ws-server/Dockerfile
    environment:
      REDIS_URL: redis://redis:6379
      JWT_SECRET: ${JWT_SECRET:-verysecret}
      PORT_WS: 8080
      NODE_ENV: production
    depends_on:
      redis:
        condition: service_healthy
      api:
        condition: service_started
    ports:
      - "8080:8080"
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    environment:
      DATABASE_URL: postgresql://chatuser:npg_w1gArQDbNJ4U@postgres:5432/chat?schema=public
      REDIS_URL: redis://redis:6379
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      api:
        condition: service_started
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        VITE_API_URL: http://localhost:4000
        VITE_WS_URL: ws://localhost:8080
    ports:
      - "3000:3000"
    depends_on:
      api:
        condition: service_started
      ws-server:
        condition: service_started
    restart: unless-stopped

volumes:
  pgdata:
