version: "3.8"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: chat
      POSTGRES_USER: chatuser
      POSTGRES_PASSWORD: npg_w1gArQDbNJ4U
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    command: ["redis-server", "--save", "900", "1"]
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: apps/api-server/Dockerfile
    env_file: .env
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"

  ws-server:
    build:
      context: .
      dockerfile: apps/ws-server/Dockerfile
    env_file: .env
    depends_on:
      - redis
      - api
    ports:
      - "8080:8080"

  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    env_file: .env
    depends_on:
      - redis
      - postgres
    restart: always

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - api
      - ws-server

volumes:
  pgdata:
